[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=qdigidoc4 %F
Icon=qdigidoc4

Name=DigiDoc4 Client
Name[et]=DigiDoc4 klient
Name[ru]=DigiDoc4 клиент

Keywords=ID-card;Utility;
Keywords[et_EE]=ID-kaart;Haldusvahend;

Categories=Qt;Office;
MimeType=application/vnd.etsi.asic-e+zip;application/vnd.etsi.asic-s+zip;application/x-ddoc;application/vnd.lt.archyvai.adoc-2008;application/x-cdoc;application/x-cdoc2;

Actions=new-window

[Desktop Action new-window]
Name=New Window
Name[et]=Ava uus aken
Name[ru]=Новое окно
Exec=qdigidoc4 -newWindow
