#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION VERSION
  PRODUCTVERSION VERSION
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "RIA"
			VALUE "FileDescription", "DigiDoc4"
			VALUE "FileVersion", VERSION_STR
			VALUE "InternalName", "qdigidoc4"
			VALUE "LegalCopyright", "Copyright (C) 2017-2025 Estonian Information System Authority"
			VALUE "OriginalFilename", "qdigidoc4.exe"
			VALUE "ProductName", "DigiDoc4"
			VALUE "ProductVersion", VERSION_STR
		END
		BLOCK "042504B0"
		BEGIN
			VALUE "CompanyName", "RIA"
			VALUE "FileDescription", "DigiDoc4"
			VALUE "FileVersion", VERSION_STR
			VALUE "InternalName", "qdigidoc4"
			VALUE "LegalCopyright", "Copyright (C) 2017-2025 Riigi Infosüsteemi Amet"
			VALUE "OriginalFilename", "qdigidoc4.exe"
			VALUE "ProductName", "DigiDoc4"
			VALUE "ProductVersion", VERSION_STR
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
		VALUE "Translation", 0x425, 1200
	END
END
/* End of Version info */

IDI_ICON1   ICON  DISCARDABLE  "images/digidoc.ico"
IDI_ICON2   ICON  DISCARDABLE  "images/qdigidoc_client_document.ico"
IDI_ICON3   ICON  DISCARDABLE  "images/qdigidoc_crypto_document.ico"
