<?if $(sys.BUILDARCH) = x64 ?>
  <?define OpenSSLSuffix = "-x64" ?>
<?else?>
  <?define OpenSSLSuffix = "" ?>
<?endif?>

<?if $(env.VisualStudioVersion) = "17.0" ?>
<?define VCVER = "143" ?>
<?elseif $(env.VisualStudioVersion) = "16.0" ?>
<?define VCVER = "142" ?>
<?endif?>

<?if $(var.qt_suffix) = "d" ?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\Debug_NonRedist\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).DebugCRT" ?>
<?else?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\$(sys.BUILDARCH)\Microsoft.VC$(var.VCVER).CRT" ?>
<?endif?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="DigiDoc4 Client" UpgradeCode="67932072-aa9e-45e3-b697-d825349f273d"
      Language="1033" Version="$(var.MSI_VERSION)" Manufacturer="RIA" Scope="perMachine">
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Icon Id="qdigidoc4.ico" SourceFile="$(var.ico_path)" />
    <Property Id="ARPPRODUCTICON" Value="qdigidoc4.ico" />
    <Property Id="DESKTOP_SHORTCUT" Value="0" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
        "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first." />
    <Launch Condition="Installed OR (VersionNT &gt;= 601)" Message="[ProductName] requires Windows 7 or higher." />
    <ui:WixUI Id="WixUI_Minimal2" />

    <!-- Desktop shortcut -->
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut4" Guid="7B821ED0-4838-4290-997C-AA4119F99DAD" Transitive="yes" Condition="DESKTOP_SHORTCUT = 1">
        <Shortcut Id="ClientDesktopShortcut4" Name="DigiDoc4" Target="[!qdigidoc4.exe]" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\qdigidoc4" Name="DesktopShortcut4" Value="1" Type="integer" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" FileSource="$(var.libs_path)">
        <Component Id="Application4">
          <File Id="qdigidoc4.exe" Source="$(var.client_path)" KeyPath="yes">
            <Shortcut Id="ClientStartMenu4" Advertise="yes" Name="DigiDoc4" Icon="qdigidoc4.ico"
              Directory="ProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" />
          </File>
          <ProgId Id="qdigidoc4.adoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="adoc" ContentType="application/vnd.lt.archyvai.adoc-2008">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.bdoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="bdoc" ContentType="application/vnd.etsi.asic-e+zip">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.edoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="edoc" ContentType="application/vnd.etsi.asic-e+zip">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.asice" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="asice" ContentType="application/vnd.etsi.asic-e+zip">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.sce" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="sce" ContentType="application/vnd.etsi.asic-e+zip">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.ddoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="ddoc" ContentType="application/x-ddoc">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.cdoc" Description="DigiDoc encrypted container" Icon="qdigidoc4.exe" IconIndex="2">
            <Extension Id="cdoc" ContentType="application/x-cdoc">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="-crypto &quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.cdoc2" Description="DigiDoc encrypted container" Icon="qdigidoc4.exe" IconIndex="2">
            <Extension Id="cdoc2" ContentType="application/x-cdoc2">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="-crypto &quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.asics" Description="DigiDoc timestamped document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="asics" ContentType="application/vnd.etsi.asic-s+zip">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
          <ProgId Id="qdigidoc4.scs" Description="DigiDoc timestamped document" Icon="qdigidoc4.exe" IconIndex="1">
            <Extension Id="scs" ContentType="application/vnd.etsi.asic-s+zip">
              <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument="&quot;%1&quot;" />
            </Extension>
          </ProgId>
        </Component>
        <File Name="zlib$(var.qt_suffix)1.dll" />
        <File Name="libxml2.dll" />
        <File Name="libxmlsec1.dll" />
        <File Name="libxmlsec1-openssl.dll" />
        <File Name="digidocpp$(var.qt_suffix).dll" />
        <File Name="digidoc-tool.exe" />
        <File Name="digidocpp.conf" />
        <Directory Name="schema">
          <Files Include="$(var.libs_path)\schema\*.xsd" />
        </Directory>
<?ifdef var.qt_path ?>
        <File Name="libcrypto-3$(var.OpenSSLSuffix).dll" />
        <File Name="libssl-3$(var.OpenSSLSuffix).dll" />
        <File Source="$(var.VCPATH)\msvcp140$(var.qt_suffix).dll" />
        <File Source="$(var.VCPATH)\msvcp140_1$(var.qt_suffix).dll" />
        <File Source="$(var.VCPATH)\msvcp140_2$(var.qt_suffix).dll" />
        <File Source="$(var.VCPATH)\vcruntime140$(var.qt_suffix).dll" />
<?if $(sys.BUILDARCH) != x86 ?>
        <File Source="$(var.VCPATH)\vcruntime140_1$(var.qt_suffix).dll" />
<?endif?>
        <File Source="$(var.qt_path)\Qt6Core$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Gui$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Network$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6PrintSupport$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Svg$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\Qt6Widgets$(var.qt_suffix).dll" />
        <File Source="$(var.qt_path)\D3DCompiler_47.dll" />
        <File Source="$(var.qt_path)\opengl32sw.dll" />
        <File Source="$(var.qt_path)\Qt6SvgWidgets$(var.qt_suffix).dll" />
        <Directory Name="platforms">
          <File Source="$(var.qt_path)\..\plugins\platforms\qwindows$(var.qt_suffix).dll" />
        </Directory>
        <Directory Name="tls">
          <File Source="$(var.qt_path)\..\plugins\tls\qopensslbackend$(var.qt_suffix).dll" />
        </Directory>
        <Directory Name="styles">
          <File Source="$(var.qt_path)\..\plugins\styles\qmodernwindowsstyle$(var.qt_suffix).dll" />
        </Directory>
        <Directory Name="imageformats">
          <File Source="$(var.qt_path)\..\plugins\imageformats\qsvg$(var.qt_suffix).dll" />
        </Directory>
<?endif?>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
