<?xml version="1.0" encoding="utf-8"?>

<!--
Depends package: libdigidocpp-3.13.8.1379.msi
msiexec /a libdigidocpp-3.13.8.1378.msi /qn TARGETDIR=C:\target

"%WIX%\bin\candle.exe" qdigidoc4.wxs -dMSI_VERSION=4.4.0
 -dlibs_path="C:\target\libdigidocpp\x64"
 -dqt_path=C:\Qt\6.5.0\msvc2019
 -dclient_path=client\qdigidoc4.exe
 -dico_path=client\images\digidoc.ico

"%WIX%\bin\light.exe" -out qdigidoc4.msi qdigidoc4.wixobj -v -ext WixUIExtension
-->

<?ifndef Platform ?>
<?define Platform="x64" ?>
<?endif ?>

<?if $(var.Platform) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define OpenSSLSuffix = "-x64" ?>
<?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define OpenSSLSuffix = "" ?>
<?endif ?>

<?if $(env.VisualStudioVersion) = "17.0" ?>
<?define VCVER = "143" ?>
<?elseif $(env.VisualStudioVersion) = "16.0" ?>
<?define VCVER = "142" ?>
<?endif?>

<?if $(var.qt_suffix) = "d" ?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\Debug_NonRedist\$(var.Platform)\Microsoft.VC$(var.VCVER).DebugCRT" ?>
<?else ?>
<?define VCPATH = "$(env.VCTOOLSREDISTDIR)\$(var.Platform)\Microsoft.VC$(var.VCVER).CRT" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="DigiDoc4 Client" UpgradeCode="67932072-aa9e-45e3-b697-d825349f273d"
      Id="*" Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA">
    <Package Platform="$(var.Platform)" Keywords="Installer" InstallerVersion="405" Compressed="yes" InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="qdigidoc4.ico" SourceFile="$(var.ico_path)"/>
    <Property Id="ARPPRODUCTICON" Value="qdigidoc4.ico"/>
    <Property Id="APPLICATIONNAME" Value="qdigidoc4"/>
    <Property Id="DESKTOP_SHORTCUT" Value="0"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    <UIRef Id="WixUI_Minimal2" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Menu shortcut -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="!(loc.idcardLabel)">
          <Component Id="ProgramMenuDir4" Guid="16A9EACF-B5D3-4FDC-8E9F-C03C8FA46DFF">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root='HKMU' Key='Software\[Manufacturer]\[APPLICATIONNAME]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <!-- Desktop shortcut -->
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcut4" Guid="7B821ED0-4838-4290-997C-AA4119F99DAD" Transitive="yes">
          <Condition>DESKTOP_SHORTCUT = 1</Condition>
          <Shortcut Id="ClientDesktopShortcut4" Name="!(loc.qdigidoc4Label)"
                    Target="[!qdigidoc4.exe]" WorkingDirectory="APPLICATIONFOLDER"/>
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[APPLICATIONNAME]" Name="DesktopShortcut4" Value="1" Type="integer" KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory Id='$(var.PlatformProgramFilesFolder)'>
        <Directory Id="APPLICATIONFOLDER" Name="DigiDoc4 Client">
          <Component Id="Application4" Guid="316B00EB-7519-476F-BCA5-7C8C1A0DF5AB" Transitive="yes">
            <File Source="$(var.client_path)" KeyPath='yes'>
              <Shortcut Id="ClientStartMenu4" Advertise="yes" Name="!(loc.qdigidoc4Label)" Icon="qdigidoc4.ico"
                Directory="ProgramMenuDir" WorkingDirectory="APPLICATIONFOLDER"/>
            </File>
            <ProgId Id="qdigidoc4.adoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="adoc" ContentType="application/vnd.lt.archyvai.adoc-2008">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.bdoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="bdoc" ContentType="application/vnd.etsi.asic-e+zip">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.edoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="edoc" ContentType="application/vnd.etsi.asic-e+zip">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.asice" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="asice" ContentType="application/vnd.etsi.asic-e+zip">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.sce" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="sce" ContentType="application/vnd.etsi.asic-e+zip">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.ddoc" Description="DigiDoc signed document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="ddoc" ContentType="application/x-ddoc">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.cdoc" Description="DigiDoc encrypted container" Icon="qdigidoc4.exe" IconIndex="2">
              <Extension Id="cdoc" ContentType="application/x-cdoc">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='-crypto "%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.cdoc2" Description="DigiDoc encrypted container" Icon="qdigidoc4.exe" IconIndex="2">
              <Extension Id="cdoc2" ContentType="application/x-cdoc2">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='-crypto "%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.asics" Description="DigiDoc timestamped document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="asics" ContentType="application/vnd.etsi.asic-s+zip">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="qdigidoc4.scs" Description="DigiDoc timestamped document" Icon="qdigidoc4.exe" IconIndex="1">
              <Extension Id="scs" ContentType="application/vnd.etsi.asic-s+zip">
                <Verb Id="open" TargetFile="qdigidoc4.exe" Command="Open" Argument='"%1"' />
              </Extension>
            </ProgId>
          </Component>
          <Component Id="Base" Guid="6976e89e-e815-444a-9b1f-5ee63cfe230d">
            <File Source="$(var.libs_path)\zlib$(var.qt_suffix)1.dll"/>
            <File Source="$(var.libs_path)\xerces-c_3_2$(var.qt_suffix).dll"/>
            <File Source="$(var.libs_path)\XalanMessages_1_12$(var.qt_suffix).dll"/>
            <File Source="$(var.libs_path)\Xalan-C_1_12$(var.qt_suffix).dll"/>
            <File Source="$(var.libs_path)\xsec_2_0$(var.qt_suffix).dll"/>
            <File Source="$(var.libs_path)\digidocpp$(var.qt_suffix).dll"/>
            <File Source="$(var.libs_path)\digidoc-tool.exe"/>
            <File Source="$(var.libs_path)\digidocpp.conf"/>
<?ifdef var.qt_path ?>
            <File Source="$(var.VCPATH)\msvcp140$(var.qt_suffix).dll"/>
            <File Source="$(var.VCPATH)\vcruntime140$(var.qt_suffix).dll"/>
<?if $(var.Platform) = x64 AND $(env.VisualStudioVersion) != "15.0" ?>
            <File Source="$(var.VCPATH)\msvcp140_1$(var.qt_suffix).dll"/>
            <File Source="$(var.VCPATH)\msvcp140_2$(var.qt_suffix).dll"/>
            <File Source="$(var.VCPATH)\vcruntime140_1$(var.qt_suffix).dll"/>
<?endif ?>
            <File Source="$(var.libs_path)\libcrypto-3$(var.OpenSSLSuffix).dll"/>
            <File Source="$(var.libs_path)\libssl-3$(var.OpenSSLSuffix).dll"/>
            <File Source="$(var.qt_path)\Qt6Core$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt6Gui$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt6Network$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt6PrintSupport$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt6Svg$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt6Widgets$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\D3DCompiler_47.dll"/>
            <File Source="$(var.qt_path)\opengl32sw.dll"/>
            <File Source="$(var.qt_path)\Qt6Core5Compat$(var.qt_suffix).dll"/>
            <File Source="$(var.qt_path)\Qt6SvgWidgets$(var.qt_suffix).dll"/>
<?endif?>
          </Component>
          <Directory Id="SchemaFolder" Name="schema"/>
<?ifdef var.qt_path ?>
          <Directory Id="platforms" Name="platforms" FileSource="$(var.qt_path)\..\plugins\platforms">
            <Component Id="qwindows.dll">
              <File Name="qwindows$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
          <Directory Id="tls" Name="tls" FileSource="$(var.qt_path)\..\plugins\tls">
            <Component Id="qopensslbackend.dll">
              <File Name="qopensslbackend$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
          <Directory Id="styles" Name="styles" FileSource="$(var.qt_path)\..\plugins\styles">
            <Component Id="qwindowsvistastyle.dll">
              <File Name="qwindowsvistastyle$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
          <Directory Id="imageformats" Name="imageformats" FileSource="$(var.qt_path)\..\plugins\imageformats">
            <Component Id="imageformats.dll" Guid="2796915c-6255-4569-97cc-12fa979c4777">
              <File Name="qjpeg$(var.qt_suffix).dll"/>
              <File Name="qsvg$(var.qt_suffix).dll"/>
            </Component>
          </Directory>
<?endif?>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="InstallDigidoc" Level="1" Title="DigiDoc4 Client" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id='ProgramMenuDir4' />
      <ComponentRef Id="DesktopShortcut4" />
      <ComponentRef Id="Application4"/>
      <ComponentRef Id="Base"/>
      <ComponentGroupRef Id="Schemas"/>
<?ifdef var.qt_path ?>
      <ComponentRef Id="qwindows.dll" />
      <ComponentRef Id="qwindowsvistastyle.dll" />
      <ComponentRef Id="qopensslbackend.dll" />
      <ComponentRef Id="imageformats.dll" />
<?endif?>
    </Feature>
  </Product>
</Wix>
