<?xml version="1.0" encoding="utf-8"?>

<?if $(sys.BUILDARCH) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <!-- Separate upgrade code / component ID created for x64 installer because both 32-
       and 64-bit shell extensions are installed on x64 machine and x64 installer
       removes x86 component installed directly before it if same guids are used.
  -->
  <?define ShellExtId = "{5606A547-759D-43DA-AEEB-D3BF1D1E816D}" ?>
  <?define ShellUpgradeCode = "dc5723f9-386f-4581-a872-b9c823dfe40f" ?>
  <?define ShellComponentId = "7adaa2cc-c3f5-4e2e-a38d-5d9c9730444e" ?>
<?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define ShellExtId = "{310AAB39-76FE-401B-8A7F-0F578C5F6AB5}" ?>
  <?define ShellUpgradeCode = "8c4b5dae-dba9-4445-8584-3d156a48da27" ?>
  <?define ShellComponentId = "00ad9482-2770-4dc7-b564-f68268d3f457" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="EstEID Shell Extension" UpgradeCode="$(var.ShellUpgradeCode)"
      Id="*" Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA">
    <Package Keywords="Installer" InstallerVersion="405" Compressed="yes" InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    <UIRef Id="WixUI_Minimal2" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='$(var.PlatformProgramFilesFolder)'>
        <Directory Id="APPLICATIONFOLDER" Name="DigiDoc4 Client">
          <Component Id="Application" Guid="$(var.ShellComponentId)">
            <!--Does not work with multiple files -->
            <!--RegistryValue Root='HKCR' Key='*\shell\[ProductName]' Type='string' Value='Sign with [ProductName]' />
            <RegistryValue Root='HKCR' Key='*\shell\[ProductName]' Name="Icon" Type='string' Value='"[APPLICATIONFOLDER]qdigidocclient.exe",0' />
            <RegistryValue Root='HKCR' Key='*\shell\[ProductName]\command' Type='string' Value='"[APPLICATIONFOLDER]qdigidocclient.exe" "%1"' /-->
            <File Source="$(var.ShellExt)"/>
            <RegistryKey Root="HKCR" Key="CLSID\$(var.ShellExtId)\InprocServer32">
              <RegistryValue Type="string" Value="[APPLICATIONFOLDER]EsteidShellExtension.dll"/>
              <RegistryValue Type="string" Name="ThreadingModel" Value="Apartment" />
            </RegistryKey>
            <RegistryValue Root="HKCR" Key="*\shellex\ContextMenuHandlers\DigiDoc4ShellExtension$(sys.BUILDARCH)"
                           Value="$(var.ShellExtId)" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved"
                           Name="$(var.ShellExtId)" Value="DigiDoc4 Shell Extension" Type="string" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="InstallDigidoc" Level="1" Title="Digidoc4 Client Shell Extension" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id="Application"/>
    </Feature>
  </Product>
</Wix>
