// SPDX-FileCopyrightText: Estonian Information System Authority
// SPDX-License-Identifier: LGPL-2.1-or-later

#include <winver.h>
#include "resource.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "RIA"
            VALUE "FileDescription", "Estonian ID Card Software explorer integration"
            VALUE "FileVersion", VERSION_STR
            VALUE "InternalName", "EsteidShellExtension.dll"
            VALUE "LegalCopyright", "(c) RIA.  All rights reserved."
            VALUE "OriginalFilename", "EsteidShellExtension.dll"
            VALUE "ProductName", "Estonian ID Card Software"
            VALUE "ProductVersion", VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

#ifndef NO_ICON
IDB_DIGIDOCICO          ICON                    "digidoc.ico"
#endif
